In [1]:
import numpy as np
import pandas as pd

In [2]:
groupsize = [100, 20, 10]
n_rows = sum(groupsize)

In [3]:
a1 = np.random.random(groupsize[0])
b1 = np.random.random(groupsize[0])
c1 = np.random.random(groupsize[0])
y1 = a1 * 3 + b1 * 2 + c1 * 0.5 + 1

a2 = 10*np.random.random(groupsize[1])
b2 = 10*np.random.random(groupsize[1])
c2 = 10*np.random.random(groupsize[1])
y2 = a2 * 5 + b2 * 1 + c2 * 0.3 + 2

a3 = -np.random.random(groupsize[2])
b3 = -np.random.random(groupsize[2])
c3 = -np.random.random(groupsize[2])
y3 = a3 * 7 + a3 * 2 + a3 * 0.2 + 3

In [4]:
a = np.around(np.hstack((a1, a2, a3)), 3)
b = np.around(np.hstack((b1, b2, b3)), 3)
c = np.around(np.hstack((c1, c2, c3)), 3)
y = np.around(np.hstack((y1, y2, y3)), 3)
groups = np.array(sum(((name,) * n for name, n in zip(('foo', 'bar', 'rosco'), groupsize)), tuple()))

In [5]:
df = pd.DataFrame(np.column_stack((a, b, c, groups, y)), columns=('a', 'b', 'c', 'grouping', 'y'))
df.head()

       a      b      c grouping      y
0  0.366  0.194  0.758      foo  2.865
1  0.046  0.833  0.774      foo  3.193
2  0.355  0.463  0.372      foo  3.177
3  0.642  0.608  0.038      foo   4.16
4  0.004  0.587  0.168      foo  2.271

In [6]:
df.to_csv('grouping.csv', index=None)